*{
   margin:0%;
   padding:0%;
   box-sizing: border-box;
}
html,body{
   height: 100%;
   width: 100%
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#upper{
    display: flex;
}
.shape{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 200px;
    width: 200px;
    border: 1px solid blue;
}


